<html>
    <head></head>
    <body>
        <header>
            {% if actual %}
            <div class="logo">Bienvenido {{actual.username}}</div>
            {%endif%}
            <nav>
                <a href="{% url 'inicio'%}">Home</a>
                <a href="{% url 'gestionarUsuarios'%}">Usuarios</a>
                <a href="{% url 'logout' %}">Salir</a>
                {%if acciones%}
                    {%for a in acciones%}
                        {{ a.get("Mostrar") }}
                    {% endfor %}
                {%endif%}
            </nav>
        </header>
        <section>
            <div class="contenedor">
                {% block Login%}
                {% endblock %}
                <div class="lista">
                    {% block Lista%}
                    {% endblock %}
                </div>
                <div class="formulario">
                    {% block Formulario%}
                    {% endblock %}
                </div>
            </div>
        </section>
    </body>
</html>