<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>ejemplo</h1>
        {% block principal%}
        {% endblock%}        
    </body>
    <script>
        $(document).ready(function(){
            $.ajax({url: "http://localhost:8000/Vivienda",  success: function(result){
                $("#listaViviendas").append("viviendas");
                $.each(result,function(i,items){
                    $("#listaViviendas").append('<br>'); 
                    $("#listaViviendas").append(result[i].calle+" "+result[i].numero);
                    $("#listaViviendas").append('<br>'); 
               });
            }});
        })

        

        $("#filtro").change(function(){
            var link="http://localhost:8000/Vivienda/filtro/"+$(this).val();
           // alert(link);
           if($(this).val()=='todos')link='http://localhost:8000/Vivienda';
            $.ajax({url: link,  success: function(result){
                $("#listaViviendas").append("viviendas");
                $("#listaViviendas").html('');
                $.each(result,function(i,items){
                    $("#listaViviendas").append('<br>'); 
                    $("#listaViviendas").append(result[i].calle+" "+result[i].numero);
                    $("#listaViviendas").append('<br>'); 
               });
            }});
        })

        $("#formulario").submit(function(){
            alert("aca");
            $.ajax({
                url:"http://localhost:8000/Vivienda/add/",
                type:'POST',
                data: {'calle': $("#calle").val(),'numero':$("#numero").val(),'habitaciones':$("#habitaciones").val(),'patio':$("#patio").val()},
                success: function (response) {
                    alert("exito al ingresar");
                }
            })
        })
       
    </script>
</html>